form {
  width: 500px;
}

fieldset {
  backgrund-color: #eeeeee;
  margin-bottom: 10px;
}

legend {
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 5px;
}

input {
  margin: 5px;
}

button {
  background: grey;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}